# 7-1 함수 정의와 호출

In [6]:
#함수의 기본구조
#인자도 반환 값도 없는 함수
def my_func() :
    print("my first function")
    print("this is a function")

In [9]:
my_func()

my first function
this is a function

In [12]:
# 인자는 있으나 반환값이 없는 함수
def my_friend(friendName):
    print("{}는 나의 친구 입니다. ".format(friendName))

In [13]:
my_friend('철수')
my_friend('영미')

철수는 나의 친구 입니다.
영미는 나의 친구 입니다.

In [14]:
def my_student_info(name, school_ID, phoneNumber):
    print("---------------------")
    print("-학생이름:", name)
    print("-학급번호:", school_ID)
    print("-전화번호:", phoneNumber)

In [15]:
my_student_info('현아','01','01-235-6789')
my_student_info('진수','02','01-987-6543')

---------------------
-학생이름: 현아
-학급번호: 01
-전화번호: 01-235-6789
---------------------
-학생이름: 진수
-학급번호: 02
-전화번호: 01-987-6543

In [16]:
#인자도 있고 반환값도 있는 함수
def my_calc(x,y):
    z = x*y
    return z

In [17]:
my_calc(3,4)

12

In [18]:
def my_student_info_list(student_info):
    print("------------------------")
    print("*학생이름", student_info[0])
    print("*학급번호", student_info[1])
    print("*전호번호", student_info[2])
    print("------------------------")

In [19]:
student1_info = ["현아",'01','01235-6789']
my_student_info_list(student1_info)

------------------------
*학생이름 현아
*학급번호 01
*전호번호 01235-6789
------------------------

In [ ]:
my_student_info_list(['진수','02','01-987-6543'])

In [77]:
# 7-2 변수의 유효 범위
a = 5 #전역범수
def func1():
    a =1 # 지역변수
    print('[func1] 지역변수 a =', a)
def func2():
    a =2 # 지역변수
    print('[func2] 지역변수 a =', a)
def func3():
    print('[func3] 지역변수 a =', a)
def func4():
    global a # 함수 내엥서 전역 변수 변경 위해 선언
    a = 4
    print('[func4] 전역변수 a =', a)

In [78]:
func1()
func2()
print("전역변수 a = ", a)

[func1] 지역변수 a = 1
[func2] 지역변수 a = 2
전역변수 a =  5

In [79]:
# 함수안에서 정의된 지역변수는 같은 이름의 전역변수보다 먼저 사용사용되고
#함수가 끝나면 그 효력이 즉시 사라짐. 
# 함수를 호출하지 않고 변수를 이용하면 전역 변수를 참조
func3() 
func4()
func3()

[func3] 지역변수 a = 5
[func4] 전역변수 a = 4
[func3] 지역변수 a = 4

# 7-3 람다 함수 : 한줄로 표현하는 함수

In [28]:
# 기본구조
# lambda <인자> : <인자 활용 수행코드>
(lambda x : x**2) (3)

9

In [32]:
my_square = lambda x : x**2
print(my_square(2))
print(my_square(5))

4
25

In [33]:
mySimpleFunc = lambda x,y,z : 2*x+3*y+z
mySimpleFunc(1,2,3)

11

# 7-4 유용한 내장 함수

In [34]:
# 형 변환 함수
# 정수형으로 변환
[int(0.123), int(3.5123456), int(-1.312367)]

[0, 3, -1]

In [36]:
[int('1234'),int('5678'),int('-9012')]

[1234, 5678, -9012]

In [37]:
# 실수형으로 변환
[float(0), float(123), float(-567)]

[0.0, 123.0, -567.0]

In [38]:
[float('10'), float('0.123'), float('-567.89')]

[10.0, 0.123, -567.89]

In [39]:
#문자형으로 변환
[str(123), str(45678), str(-987)]

['123', '45678', '-987']

In [40]:
[str(0.123), str(345.678), str(-5.987)]

['0.123', '345.678', '-5.987']

In [41]:
# 리스트, 튜플, 세트형으로 변환
list_data = ['abc',1,2,'def']
tuple_data = ('abc',1,2,'def')
set_data = {'abc',1,2,'def'}

In [42]:
type(list_data), type(tuple_data), type(set_data)

(list, tuple, set)

In [43]:
print("리스트로 변환: ", list(tuple_data), list(set_data))
print("튜플로 변환: ", tuple(list_data), list(set_data))
print("세트로 변환: ", set(list_data), list(tuple_data))

리스트로 변환:  ['abc', 1, 2, 'def'] [1, 2, 'def', 'abc']
튜플로 변환:  ('abc', 1, 2, 'def') [1, 2, 'def', 'abc']
세트로 변환:  {1, 2, 'def', 'abc'} ['abc', 1, 2, 'def']

In [45]:
# bool 함수
# 숫자를 인자로 bool함수 호출
print(bool(0)) #인자: 숫자0
print(bool(1)) #인자: 양의 정수
print(bool(-10)) #인자: 음의 정수
print(bool(5.12)) #인자: 양의 실수
print(bool(-3.26)) #인자: 음의 실수

False
True
True
True
True

In [49]:
#문자열을 인자로 bool함수 호출
print(bool('a')) #인자: 문자열'a'
print(bool(' '))  #인자: 빈 문자열(공백)
print(bool(''))  #인자: 문자열 없음
print(bool(None))  #인자: None

True
True
False
False

In [50]:
# 리스트, 튜플, 세트를 인자로 bool 함수 호출
myFriends=[]
bool(myFriends) # 인자: 항목이 없는 빈 리스트

False

In [51]:
myFriends = ['James','Robert','Lisa','Mary']
bool(myFriends) #인자 : 항목이 있는 리스트

True

In [52]:
myNum =()
bool(myNum) #d인자 : 항목이 없는 빈 튜플

False

In [53]:
myNum =(1,2,3)
bool(myNum) #인자 : 항목이 있는 튜플

True

In [54]:
mySetA ={}
bool(mySetA) #인자 : 항목이 없는 빈세트

False

In [55]:
mySetA ={10,20,30}
bool(mySetA) #인자 : 항목이 있는 세트

True

In [56]:
# bool 함수의 활용
def print_name(name):
    if bool(name):
        print("입력된 이름:", name)
    else:
        print("입력된 이름이 없습니다.")

In [57]:
print_name("James")

입력된 이름: James

In [58]:
print_name("")

입력된 이름이 없습니다.

In [60]:
# 최솟값과 최대값을 구하는 함수
myNum = [10,5,12,0,3.5,99.5,42]
[min(myNum), max(myNum)]

[0, 99.5]

In [61]:
myStr ='zxyabc'
[min(myStr), max(myStr)]

['a', 'z']

In [62]:
myNum = (10,5,12,0,3.5,99.5,42)
[min(myNum), max(myNum)]

[0, 99.5]

In [64]:
myNum={'ABC','abc','bcd','efg'}
[min(myNum), max(myNum)]

['ABC', 'efg']

In [65]:
# 절대값과 전체합을 구하는 함수
[abs(10), abs(-10)]

[10, 10]

In [66]:
[abs(2.45), abs(-2.45)]

[2.45, 2.45]

In [67]:
sumList = [1,2,3,4,5,6,7,8,9,10]
sum(sumList)

55

In [72]:
# 항목의 개수를 구하는 함tn
print(len('ab cd')) #문자열
print(len([1,2,3,4,5,6,7,8])) # 리스트
print(len((1,2,3,4,5))) # 튜플
print(len({1:"Thomas",2:"Edward",3:"henry"})) # 딕셔너리

5
8
5
3

In [73]:
# 내장 함수의 활용
scores = [90,80,95,85]

score_sum  =0
subject_num = 0
for score in scores:
    score_sum = score_sum + score
    subject_num = subject_num +1

average = score_sum / subject_num
print("총점:{0}, 평균:{1}".format(score_sum, average))

총점:350, 평균:87.5

In [75]:
scores = [90,80,95,85]
print("총점:{0}, 평균:{1}".format(sum(scores), sum(scores)/len(scores)))

총점:350, 평균:87.5

In [76]:
print("최하점수:{0}, 최고점수:[1]".format(min(scores), max(scores)))

최하점수:80, 최고점수:[1]