# 4 변수와 자료형

# 4-1. 변수

In [42]:
print(12340*1/2)
print(12340*1/4)
print(12340*1/5)

6170.0
3085.0
2468.0

In [41]:
abc = 12340
print(abc)
print(abc*1/2)
print(abc*1/4)
print(abc*1/5)

12340
6170.0
3085.0
2468.0

# 4-2 문자열

In [44]:
print("String Test")

String Test

In [46]:
string1 ="Strring Test 1"
string2 ="Strring Test 2"
print(string1)
print(string2)
print(type(string1))
print(type(string2))

Strring Test 1
Strring Test 2
<class 'str'>
<class 'str'>

In [47]:
string3 = 'This is a "double" quotation test'
string4 = 'This is a "single" quotation test'
print(string3)
print(string4)

This is a "double" quotation test
This is a "single" quotation test

In [48]:
long_string1 = '''[삼중 작은따음표를 사용한 예]
파이썬에서는 삼중 따옴표로 여러행의 문자열을 입력할 수 있습니다. 
큰 타옴표(")와 작음 따옴표(')도 입력할 수 있습니다.'''
long_string2 = """[삼중 큰따음표를 사용한 예]
파이썬에서는 삼중 따옴표로 여러행의 문자열을 입력할 수 있습니다. 
큰 타옴표(")와 작음 따옴표(')도 입력할 수 있습니다."""
print(long_string1)
print(long_string2)

[삼중 작은따음표를 사용한 예]
파이썬에서는 삼중 따옴표로 여러행의 문자열을 입력할 수 있습니다.
큰 타옴표(")와 작음 따옴표(')도 입력할 수 있습니다.
[삼중 큰따음표를 사용한 예]
파이썬에서는 삼중 따옴표로 여러행의 문자열을 입력할 수 있습니다.
큰 타옴표(")와 작음 따옴표(')도 입력할 수 있습니다.

In [51]:
a = 'Enjoy '
b = 'python!'
c = a + b
print(c)
print(a*3)

Enjoy python!
Enjoy Enjoy Enjoy

# 4-3 리스트

In [53]:
student1 = [90,95,85,80]
print(student1)
print(type(student1))

[90, 95, 85, 80]
<class 'list'>

In [54]:
print(student1[0])
print(student1[1])
print(student1[-1])

90
95
80

In [55]:
student1[1] = 100
print(student1)

[90, 100, 85, 80]

In [56]:
myFriends = ['James','Robert', 'Lisa', 'Mary']
print(myFriends)
print(myFriends[2])
print(myFriends[3])
print(myFriends[-1])

['James', 'Robert', 'Lisa', 'Mary']
Lisa
Mary
Mary

In [57]:
# 리슽 합치기 => 더하기
list_con1 = [1,2,3,4]
list_con2 = [5,6,7,8]
list_con = list_con1 + list_con2
print(list_con)

[1, 2, 3, 4, 5, 6, 7, 8]

In [58]:
# 리스트 반복 => 곱하기
list_con1 = [1,2,3,4]
list_con = list_con1 * 3
print(list_con)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [59]:
#리스트 중 일부 항목 가져오기
list_data = [0,1,2,3,4,5,6,7,8,9]
print(list_data)
print(list_data[0:3])
print(list_data[4:8])
print(list_data[:3])
print(list_data[7:])
print(list_data[::2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[4, 5, 6, 7]
[0, 1, 2]
[7, 8, 9]
[0, 2, 4, 6, 8]

In [60]:
# 리스트에서 항목 삭제하기
print(list_data)
del list_data[6]
print(list_data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 7, 8, 9]

In [61]:
# 리스트에서 항목의 존재 여부 확인하기
list_data1 = [1,2,3,4,5]
print(5 in list_data1)
print(6 in list_data1)

True
False

In [62]:
# 리스트 메서드 활용하기
#.append() => 리스트에서 항목 하나를 맨 마지막에 추가
#.insert() => 리스트에서 특정 위치에 항목을 삽입
#.extend() => 리스트에서 항목 여러개를 맨 마지막에 추가
#.remove() => 입력값과 첫번쨰로 일치하는 항목을 리스트에서 삭제
#.pop() => 리스트의 마지막 항목을 제거한 후에 반환
#.index() => 리스트에서 인자와 일치하는 첫번째 항목의 위치를 반환
#.count() => 리스트에서 인자와 일치하는 항목의 개수를 반환 
#.sort() => 숫자나 문자열로 구성된 리스트 항목의 순방향으로 정렬
#.reverse() => 리스트 항목을 끝에서부터 역순으로 정렬

In [66]:
myFiends = ['James','Robert','Lisa','Mary']
print(myFriends)
myFriends.append('Thomas')
print(myFriends)
myFriends.insert(1,'Paul')
print(myFriends)
myFriends.extend(['Laura','Betty'])
print(myFriends)

['James', 'Paul', 'Paul', 'Robert', 'Lisa', 'Mary', 'Thomas', 'Thomas', 'Thomas']
['James', 'Paul', 'Paul', 'Robert', 'Lisa', 'Mary', 'Thomas', 'Thomas', 'Thomas', 'Thomas']
['James', 'Paul', 'Paul', 'Paul', 'Robert', 'Lisa', 'Mary', 'Thomas', 'Thomas', 'Thomas', 'Thomas']
['James', 'Paul', 'Paul', 'Paul', 'Robert', 'Lisa', 'Mary', 'Thomas', 'Thomas', 'Thomas', 'Thomas', 'Laura', 'Betty']

# 4-4 튜플

In [70]:
tutple1 =(1,2,3,4)
print(tutple1)
print(type(tutple1))
print(tutple1[1])

(1, 2, 3, 4)
<class 'tuple'>
2

In [72]:
tuple2 = 5,6,7,8
print(tuple2)
print(type(tuple2))

(5, 6, 7, 8)
<class 'tuple'>

In [73]:
# 항목을 하나만 갖는 튜플은 꼮 반드시 항목 입력 후에 콤마 (,) 를 입력해야함
tuple3=(9,)
tuple4 =10,
print(tuple3)
print(tuple4)

(9,)
(10,)

In [74]:
# 튜플은 요소를 변경하거나 삭제를 할 수 없다. 
tuple5 = (1,2,3,4)
tuple5[1] = 5

TypeError: 'tuple' object does not support item assignment

In [76]:
del tuple5[1]

TypeError: 'tuple' object doesn't support item deletion

In [78]:
tuple6 =('a','b','c','d','e','f')
tuple6.index('c') # c으ㅢ 값의 위치를 반환

2

In [79]:
tuple7 = ('a','a','a','b','b','c','d')
tuple7.count('a') #a의 개수를 반환

3

# 4-5 세트

In [82]:
# 세트 만들기 => 세트는 데이터의 순서가 없고 데이터를 중복해서 사용할 수 없음
set1 = {1,2,3}
set1a ={1,2,3,3}
print(set1)
print(set1a)

{1, 2, 3}
{1, 2, 3}

In [84]:
# 세트의 교집합, 합집합, 차집합 구하기 => .intersection() / .union() / .difference()
A ={1,2,3,4,5}
B = {4,5,6,7,8,9,10}
print(A.intersection(B)) # 교집합
print(A.union(B)) # 합집합
print(A.difference(B)) # 차집합
print(A&B) #교집합
print(A|B) #합집합
print(A-B) #차집합

{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3}
{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3}

In [85]:
# 리스트, 튜플, 세트간의 타입 변환
a = [1,2,3,4,5]
print(type(a))

<class 'list'>

In [87]:
b = tuple(a)
print(type(b))

<class 'tuple'>

In [88]:
c= set(a)
print(type(c))

<class 'set'>

In [94]:
print((list(b)))
print((list(c)))
print(type((list(b))))
print(type((list(c))))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
<class 'list'>
<class 'list'>

# 4-6 딕셔너리

In [97]:
# 딕셔너리 만들기
country_capital ={"영국":"런던","프랑스":"파리","스위스":"베른","호주":"멜버른","덴마크":"코펜하겐"}
print(country_capital)
print(type(country_capital))

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐'}
<class 'dict'>

In [98]:
print(country_capital['영국']) #키값을 문자로 사용

런던

In [99]:
dict_data1 = {1:"버스",3:"비행기",4:"택시",5:"자전거"}
dict_data1

{1: '버스', 3: '비행기', 4: '택시', 5: '자전거'}

In [100]:
print(dict_data1[3]) #키값을 숫자로 사용

비행기

In [101]:
dict_data2 = {1:10, 2:20,3:30,4:40,5:50}
print(dict_data2)
print(dict_data2[4])

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}
40

In [103]:
dict_data3 = {"list_data1":[11,12,13], "list_data2":[21,22,23]}
print(dict_data3)
print(dict_data3["list_data2"])

{'list_data1': [11, 12, 13], 'list_data2': [21, 22, 23]}
[21, 22, 23]

In [104]:
mixed_dict = {1:10, 'dict_num':{1:10,2:20}, 'dict_list_tuple':{"A":[11,12,13], 'B':(21,22,23)}, "dict_string":"이것은 책 입니다."}
mixed_dict

{1: 10,
 'dict_num': {1: 10, 2: 20},
 'dict_list_tuple': {'A': [11, 12, 13], 'B': (21, 22, 23)},
 'dict_string': '이것은 책 입니다.'}

In [105]:
# 딕셔너리에 데이터를 추가하고 변경하기
country_capital['독일'] = "베를린"
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐', '독일': '베를린'}

In [106]:
country_capital['호주'] ='캔버라'
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '덴마크': '코펜하겐', '독일': '베를린'}

In [107]:
# 딕셔너리에서 데이터 삭제하기
del country_capital['덴마크']
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '독일': '베를린'}

In [108]:
# 딕셔너리에서 메소드 활용하기
#.keys() => 딕셔너리에서 키 전체를 리스트 형태로 반환
#.values() => 딕셔너리에서 값 전체를 리스트 형태로 반환
#.items() => 딕셔너리에서 키와 값의 쌍을 (키, 값)처럼 튜플 형태로 반환
#.update(dict_data2) => 딕셔너리에서 딕셔너리 데이터 추가
#.clear() => 딕셔너리의 모든 항복 삭제

In [126]:
fruit_code = {'사과':101, '배':102, '딸기':103, '포도':104, '바나나':105}
print(fruit_code)
print(fruit_code.keys())
print(fruit_code.values())
print(fruit_code.items())

{'사과': 101, '배': 102, '딸기': 103, '포도': 104, '바나나': 105}
dict_keys(['사과', '배', '딸기', '포도', '바나나'])
dict_values([101, 102, 103, 104, 105])
dict_items([('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)])

In [123]:
print(list(fruit_code.keys()))
print(list(fruit_code.values()))
print(list(fruit_code.items()))

['사과', '배', '딸기', '포도', '바나나']
[101, 102, 103, 104, 105]
[('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)]

In [131]:
fruit_code2 = {'오렌지':106, '수박':107}
#fruit_code
#fruit_code2
fruit_code.update(fruit_code2)
print(fruit_code)

{'사과': 101, '배': 102, '딸기': 103, '포도': 104, '바나나': 105, '오렌지': 106, '수박': 107}

In [132]:
print(fruit_code.clear())
print(fruit_code)

None
{}