# 4-15 replace 사용법

In [3]:
var = 'hello world!'
print(var)
var=var.replace('!','?') #replace('기존','새로운')
print(var)

hello world!
hello world?

In [4]:
var = 'hello world?'
var=var.replace('?','')
print(var)

hello world

In [5]:
var ='19,000원'
var = var.replace(',','')
print(var)
var= var.replace('원','')
print(var)

19000원
19000

* 한줄로 표현하기

In [7]:
var ='19,000원'
var = var.replace(',','').replace('원','')
print(var)

19000

* find() => 찾는 문자열이 없으면 -1, 있으면 문자열의 위치를 반환(0부터 시작인거 주의)

In [9]:
var1 = 'hello world'
finded1 = var1.find('a')
finded2 = var1.find('world')
print(finded1) 
print(finded2)

-1
6

In [10]:
var = 'hello world'
print(var[0])
print(var[1])
print(var[0:4])

h
e
hell

In [11]:
var = 'hello world'
print(var[:])
print(var[:2])
print(var[2:])

hello world
he
llo world

In [12]:
var = 'hello world'
print(var[-1])
print(var[-2])
print(var[3:-2])

d
l
lo wor

In [13]:
var ='hello world'
print(var[20])

IndexError: string index out of range

In [14]:
var = 'hello world !@'
print(var.split()) #공백 기준으로 쪼개기

['hello', 'world', '!@']

In [16]:
var = "hello world !@"
print(var.split('l'))#ㅣ기준을 쪼개기

['he', '', 'o wor', 'd !@']

In [17]:
var1 = 'hello world'
var2 = 'HELLO WORLD'
print(var1.upper()) # 대문자로
print(var2.lower()) # 소문자로

HELLO WORLD
hello world

In [18]:
var = 'hello world'
print(len(var))

11

In [19]:
var = '    hello world    '
print(var.rstrip()) # 우측 공백 제거
print(var.lstrip()) # 좌측 공백 제거
print(var.strip()) # 양쪽 공백 제거

    hello world
hello world
hello world

In [22]:
var0 = 'I am' + ' 박정태'
print(var0)
var1 = 'I am {name}'.format(name='박정태')
print(var1)
var2 = 'I am {0}'.format('박정태')
print(var2)
var3 = 'I am {0} I am {name}'.format('박정태',name='정보 문화사')
print(var3)

I am 박정태
I am 박정태
I am 박정태
I am 박정태 I am 정보 문화사

* 문자열 + 숫자 = 에러

In [23]:
var0 = 'I am age ' + 25
print(var0)

TypeError: can only concatenate str (not "int") to str

* 해결 1) str() 변환, 2) format 이용

In [24]:
age = 25
var0 = 'I am age ' + str(age)
var1 = 'I am age {0}'.format(age)
print(var0)
print(var1)

I am age 25
I am age 25

* join으로 리스트를 문자열 만들기 => 리스트 안에 타입이 문자형일때만 가능

In [25]:
a = ['1','2','3','4','5']
b= '.'.join(a)
print(b)

1.2.3.4.5

* 숫자형이 포함된 리스트를 문자열로 만들기 => 에러

In [26]:
a = [1,'2',3,'4','5']
b = '.'.join(a)
print(b)

TypeError: sequence item 0: expected str instance, int found

* 리스트 요소 삭제하기
* 1) del 2) [ ] 처리

In [28]:
var1 = [1,2,3,4,5]
var2 = [1,2,3,4,5]
del var1[1]
var2[0:3]=[]
print(var1)
print(var2)

[1, 3, 4, 5]
[4, 5]

* pop() => 마지막 요소 반환하고 삭제

In [30]:
var=[1,2,3,4,5]
print(var.pop()) #마지막요소
print(var) # 삭제

5
[1, 2, 3, 4]

* remove => 특정값 제거

In [31]:
var = [1,2,3,4,5,1,2,3,4,5]
print(var.remove(4)) #none이 찍히는 이유는 반환을 안해주기 때문에 none임
print(var)

None
[1, 2, 3, 5, 1, 2, 3, 4, 5]

* sort() => 정렬, 
* 기본은 오름차순, reverse=True 하면 내림차순으로 정리
* 순자랑 문자형 같이 정렬시 오류 발생

In [32]:
var = [3,5,1,2,3,4,12,13]
var.sort() 
print(var)
var.sort(reverse=True)
print(var)

[1, 2, 3, 3, 4, 5, 12, 13]
[13, 12, 5, 4, 3, 3, 2, 1]

In [33]:
a = [75,'a','A',98,100]
print(a.sort())

TypeError: '<' not supported between instances of 'str' and 'int'

In [35]:
var1 = dict({'key1':'value1','key2':'value2'})
var2 = {'key1':'valaue1','key2':'value2'}
print(var1)
print(var2)
print(var1['key1'])
print(var2['key2'])

{'key1': 'value1', 'key2': 'value2'}
{'key1': 'valaue1', 'key2': 'value2'}
value1
value2

In [36]:
var ={'key1':'value1'}
print(var['key2'])

KeyError: 'key2'

* get() 함수는 키가 없으면 기본값을 설정할 수 있음
* 첫번째 인자는 키, 두번쨰 인자는 기본값을 넘기면 됨
* 두번째 인자는 첫번째 인자로 넘긴 키가 없으면 출력 되는 값

In [37]:
var={'key1':'value1'}
print(var.get('key1'))
print(var.get('key1','default value'))
print(var.get('key2'))
print(var.get('key2','default value'))

value1
value1
None
default value

In [38]:
var ={}
print(var)
var['key1']=10
print(var)
var['key1']=20
var['key2']=30
print(var)

{}
{'key1': 10}
{'key1': 20, 'key2': 30}

* setdefault() => 키가 없을 때는 키를 생성해서 값을 넣어주고, 키가 존재할 때는 어떤 작업도 하지 않는 경우가 있음

In [39]:
var ={}
print(var)
var.setdefault('key1',10)
print(var)
var.setdefault('key1',20)
var.setdefault('key2',30)
print(var) # 그대로 유지됨

{}
{'key1': 10}
{'key1': 10, 'key2': 30}

#### keys(), values(), items() 모두 리스트는 아니라 인덱싱, 슬라이싱은 불가하나, 반복문은 돌릴수 있음. 이것을 이터레이터라고 함. 리스트로 만들고 싶으면 list()를 사용하면 됨

* keys() 함수를 이용하면 키를 리스트처럼 만들 수 있음, 진짜 리스트는 아니므로 인덱싱 할 수 없음

In [40]:
var = {'key1':'value1','key2':'value2','key3':'value3'}
print(var.keys())

dict_keys(['key1', 'key2', 'key3'])

* values() 함수를 이용하면 value를 리스트처럼 만들수 있으나, 진짜 리스트는 아니므로 인뎃싱 불가

In [41]:
var = {'key1':'value1','key2':'value2','key3':'value3'}
print(var.values())

dict_values(['value1', 'value2', 'value3'])

* items() 함수를 이용하면 (key,value)를 리스트처럼 만들수 있으나, 리스트는 아니므로 인덱싱 불가

In [42]:
var = {'key1':'value1','key2':'value2','key3':'value3'}
print(var.items())

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])

In [46]:
var = {'key1':'value1','key2':'value2','key3':'value3'}
values = var.values() 
print(values)
print(values[0]) # 진짜 리스트가 아니므로 인덱싱 불가

dict_values(['value1', 'value2', 'value3'])

TypeError: 'dict_values' object is not subscriptable

In [47]:
var = {'key1':'value1','key2':'value2','key3':'value3'}
values = list(var.values()) # 리스트로 만들 수 있음
print(values)
print(values[0]) # 그럼 인덱싱 가능

['value1', 'value2', 'value3']
value1

* 키 존재 유무 검사

In [48]:
var = {'key1':'value1','key2':'value2','key3':'value3'}
print('key1' in var)
print('hello' in var)

True
False

* 튜플에 요소값이 하나일때는 ,를 꼭 써줘야함. 안 그러면 int로 인식

In [50]:
var1 = (1)
print(var1)
print(type(var1))

1
<class 'int'>

In [51]:
var1 = (1,)
print(var1)
print(type(var1))

(1,)
<class 'tuple'>

In [53]:
condition_t = True
condition_f = False

if condition_t:
    print('hello')
    print('world')
if condition_f:
    print('HELLO')
    print('WORLD')
print('last')

hello
world
last

In [54]:
condition1 = True
condition2 = True
condition3 = True

if condition1:
    print('첫번째 조건')
elif condition2:
    print('두번째 조건')
elif condition3:
    print('세번째 조건')
else:
    print('네번째 조건')

첫번째 조건

In [55]:
if 'h' in 'hello world':
    print('hello world에 h가 포함되어 있습니다.')
if 1 in [11,22,33,44,55,66]:
    print([11,22,33,44,55,66], '에 1이 포함됩니다.')

hello world에 h가 포함되어 있습니다.

In [56]:
count = 0
while count <5:
    print('%d 번째'%(count))
    count +=1

0 번째
1 번째
2 번째
3 번째
4 번째

In [57]:
for i in range(0,5):
    print('%d 번째'%(i))

0 번째
1 번째
2 번째
3 번째
4 번째

In [58]:
for i in 'hello world':
    print(i)

h
e
l
l
o

w
o
r
l
d

In [59]:
for i in [11,22,33,44,55]:
    print(i)

11
22
33
44
55

In [60]:
var ={'key1':'value1','key2':'value2','key3':'value3'}
for key in var:
    print(key)
    print(var[key])

key1
value1
key2
value2
key3
value3

In [61]:
for i in range(2,5):
    for j in range(2,5):
        print('%d * %d =%d'%(i,j,i*j))

2 * 2 =4
2 * 3 =6
2 * 4 =8
3 * 2 =6
3 * 3 =9
3 * 4 =12
4 * 2 =8
4 * 3 =12
4 * 4 =16

* 문자열의 단어 등장 빈도수를 측정하는 코드

In [63]:
var ='egoism,as a form of hedonism, is the doctirne which holds that we ought each of us to pursue our own greates gappiness as our ultimate end. the doctrine will , of course, admit that sometimes the best means to the end will be to give pleasure to others; we shall, for instance, by so doing , procure for ourselves the pleasure of sympathy, of freedom from interference, and of self- esteem; and these pleasures, which we may procure by something aiming directly at the happiness of other persons , may be greater than any we could otherwise get.'

In [65]:
space_ps = var.split(' ')

In [67]:
char_frequency ={}

In [68]:
for char in space_ps:
    char_frequency.setdefault(char,0)
    char_frequency[char] +=1
print(char_frequency)

{'egoism,as': 1, 'a': 1, 'form': 1, 'of': 7, 'hedonism,': 1, 'is': 1, 'the': 6, 'doctirne': 1, 'which': 2, 'holds': 1, 'that': 2, 'we': 4, 'ought': 1, 'each': 1, 'us': 1, 'to': 4, 'pursue': 1, 'our': 2, 'own': 1, 'greates': 1, 'gappiness': 1, 'as': 1, 'ultimate': 1, 'end.': 1, 'doctrine': 1, 'will': 2, ',': 3, 'course,': 1, 'admit': 1, 'sometimes': 1, 'best': 1, 'means': 1, 'end': 1, 'be': 2, 'give': 1, 'pleasure': 2, 'others;': 1, 'shall,': 1, 'for': 2, 'instance,': 1, 'by': 2, 'so': 1, 'doing': 1, 'procure': 2, 'ourselves': 1, 'sympathy,': 1, 'freedom': 1, 'from': 1, 'interference,': 1, 'and': 2, 'self-': 1, 'esteem;': 1, 'these': 1, 'pleasures,': 1, 'may': 2, 'something': 1, 'aiming': 1, 'directly': 1, 'at': 1, 'happiness': 1, 'other': 1, 'persons': 1, 'greater': 1, 'than': 1, 'any': 1, 'could': 1, 'otherwise': 1, 'get.': 1}